#contents
  #sideber
    = render 'groups/sideber'
  #content
    %header
      #right
        = link_to edit_group_path(@group) do
          %button{type:"button"}
            %h4 Edit
      #left
        #groupname
          = @group.group_name
        %ul.members
          members :
          - @users.each do |member|
            %li.member
              = member.name
    #messagebox
      = render @messages
    %footer
      =form_for [@group,@message] do |f|
        #typebox
          =f.text_field :body, placeholder: "type a message",class: "typebox"
          .image
            = fa_icon "picture-o" do
              =f.file_field :image, type: 'file'
        #sendbox
          =f.submit "Send", disable_with: "Send", class: "send_button"