#contents
  #sideber
    = render 'groups/sideber', groups: @groups
  #content
    %header
      #right
        = link_to edit_group_path(@group.id) do
          %button{type:"button"}
            %h4 Edit
      #left
        #groupname
          = @group.group_name
        %ul.members
          members :
          - @users.each do |member|
            %li.member
              = member.name
    #messagebox
      .messages
        %ul.massege
          %li.massege__name
            name
          %li.massege__date
            2017/08/31 09:57:46
        %h4
          massege
      .messages
        %ul.massege
          %li.massege__name
            name
          %li.massege__date
            2017/08/31 09:57:46
        %h4
          massege
      .messages
        %ul.massege
          %li.massege__name
            name
          %li.massege__date
            2017/08/31 09:57:46
        %h4
          massege
    %footer
      =form_for [@group,@message] do |f|
        #typebox
          =f.text_field :body, placeholder: "type a message",class: "typebox"
          .image
            = fa_icon "picture-o" do
              =f.file_field :image, type: 'file'
        #sendbox
          =f.submit "Send", disable_with: "Send", class: "send_button"